* {
  box-sizing: border-box;
  font-family: "Roboto", Sans-Serif;
}
body {
  background-color: #f6f8fc;
}
.content {
  width: 100vw; 
  padding: 1rem; 
  background-color: #1a1831;
}
.logo {
  height: 100px;
  width: 200px;
}
.pokeball {
  height: 23px;
  width: 23px;
}
@media screen and (min-width: 900px) {
  .content { 
    max-width: 900px; 
    height: auto; 
    margin: 1rem auto; 
    border-radius: 1rem; 
   }
}